
<meta property="og:url" content="@Request.Url.ToString()" />
<meta property="og:type" content="@Model.pptyType" />
<meta property="og:title" content=@ViewBag.Title />
<meta property="og:description" content="@Model.GDescription" />
<meta property="og:image" content="@Model.planLink" />
<script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
@model Relync.Models.PropertyList

@{
    ViewBag.Title = "Detailsale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/owl.carousel.js"></script>
<script type="text/javascript">


        function GetMap(){
            // Initialize the map
            map = new Microsoft.Maps.Map(document.getElementById("myMap"),
            { credentials: "ArP9YXvDyZRDN2LPAKH7XtJAK-9bOgPVlu90FXatfLdRaH9246hGOQWnnH3qbF4m", showScalebar: false,enableSearchLogo:false,showMapTypeSelector:false,showDashboard:false,disablePanning: true });
            // Define the pushpin location
            var loc = new Microsoft.Maps.Location(@Model.lat, @Model.lon);

            // Add a pin to the map
            var pin = new Microsoft.Maps.Pushpin(loc);
            map.entities.push(pin);
            // Center the map on the location
            map.setView({ center: loc, zoom: 17,disableZooming:true });
        }
        $().ready(function () {
            $("form[action$='AddComment']").on("submit", function () {
                $.post(
                   $(this).attr("action"),
                   $(this).serialize(),
                   function (response) {
                       if (response.Result == "ok") {
                           $(response.CommentHtml).hide().prependTo("#comment-list").fadeIn(1000);
                           $("#add-comment").html(response.FormHtml);
                           $("#Name").val("");
                           $("#Cmmnt").val("");
                       }
                       else {
                           $("#add-comment").html(response.FormHtml);
                       }
                   });
                return false;
            });

            $("#load-more").on('click', function() {
                $.post(
                    '@Url.Action("CommentList")',
                    { postId: '@Model.Id', skip : $(this).data("loadedComments"), limit : 5, totalComments: @ViewBag.TotalComments },
                    function (response) {
                        $("#comment-list").find("#load-more").parent().replaceWith($(response).fadeIn(1000));
                    });
            });

            $(".remove-comment").on('click', function() {
                var commnt=$(this).parent();
                $.post(

                 '@Url.Action("RemoveComment")',
                 {
                     Id:'@Model.Id', commentID: $(this).data('id')},
                     function(){

                         commnt.fadeOut(1000,function(){$(this).remove();});

                     });

            });
            $('.carousel').carousel({
                interval: 8000
            })

        });
</script>
<body onload="GetMap();">
    <h4 class="col-lg-offset-1">@Html.DisplayFor(model => model.pptyType) - @Html.DisplayFor(model => model.District) - @Html.DisplayFor(model => model.Suburb) - @Html.DisplayFor(model => model.Contact)</h4>



    <div id="myCarousel" class="col-lg-12 carousel slide" style="max-width: 900px; margin: 0 auto">
        <!-- Carousel items -->
        <div class="carousel-inner">
            @foreach (var items in Model.ImageList)
            {
                <div class="item">
                    <img src="@items.ImagePath" class="img-responsive centre-block ctr" height="400" />
                </div>
            }
            <div class="item active">
                <div id='myMap' style="position:relative; height:337px;" class="img-responsive ctr"></div>
            </div>

        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>
    </div>


    <div class="row" data-spy="affix" style="background-color:#D2D0C8; z-index:15; width:100%;" data-offset-top="750">
        <div class="col-lg-8 inline-form-control">

            <div class="col-lg-offset-2 ">


                @Html.DisplayFor(model => model.Suburb)


                @Html.DisplayFor(model => model.Place)
              





                &nbsp; Price:@String.Format("{0:#,#.}", @Model.Price) Ugshs



            </div>

        </div>
    </div>
    <dd class="row" style="background-color:#fff">

        <dl class="dl-horizontal col-lg-8">
            <dd>
                <b> @Html.DisplayName("General Description")</b>

            </dd>
            <dd>
                @Html.DisplayFor(model => model.GDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Detail)
            </dt>

            <dd>
                @Html.Raw(Model.Detail)
            </dd>
         
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @String.Format("{0:#,#.}", @Model.Price) &nbsp; Ugshs
            </dd>





            <dt>
                @Html.DisplayNameFor(model => model.ContactName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactName)
            </dd>




            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
          


        </dl>
        <div class="col-lg-4">

            <dl class="text-center">
                <dt>
                    @Html.DisplayName("Please Call")&nbsp;@Html.DisplayFor(model => model.ListedBy)
                </dt>

                <dt>
                    @Html.DisplayFor(model => model.Phone)
                </dt>
                <dd>
                    <!-- Load Facebook SDK for JavaScript -->
                    @*
                                             <div id="fb-root"></div>
                                             <script>
                                                 FB.ui({
                                                     method: 'share_open_graph',
                                                     action_type: 'og.likes',
                                                     action_properties: JSON.stringify({
                                                         object:'https://developers.facebook.com/docs/',
                                                     })
                                                 }, function(response){}); </script>

                                             <!-- Your share button code -->
                                             <div class="fb-share-button"
                                                  data-href="@Url.Encode(Request.Url.ToString())"
                                                  data-layout="button_count">
                                             </div>
                                             <a href="whatsapp://send?text=@Url.Encode(Request.Url.ToString())&nbsp;@Url.Encode(Model.pptyType)>" data-action="share/whatsapp/share"><span class="fui-skype"></span> Share via Whatsapp</a>
                                             <a href="https://twitter.com/intent/tweet?
                        url=https://relync.ug/Property/Details/@Model.Id&text=@Url.Encode(Model.pptyType)"
                                                target="_blank" title="Tweet">
                                                 <span class="fui-twitter"></span>
                                             </a>

                                             Twitter
                                             <a href="https://plus.google.com/share?
                        url=@Url.Encode(Request.Url.ToString())"
                                                target="_blank" title="Share on Google+">
                                                 <span class="fui-google-plus"></span>

                                             </a>
                                             Google+
                    *@
                </dd>

            </dl>
        </div>
        <div>

        </div>

        </div>
        @*
            <div id="add-comment">
                @Html.Partial("AddComment", new Relync.Models.Comment())
            </div>
        *@
        <div id="comment-list">
            @if (Model.Commnt != null)
            {
                Html.RenderPartial("CommentList", Model.Commnt);
            }
        </div>
        <p>
            <!--  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |-->
            @Html.ActionLink("Back to Map", "Map")
        
        </p>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
