<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - relync.ug</title>
    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
    </script>
    @{    @Html.Partial("GoogleAnalytics")}

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Property/Index"> <img class="img-responsive logo" height="64" width="76" src="~/Images/logo.png"> </a>
            </div>

            <div class="navbar-collapse collapse">
                @using (Html.BeginForm("Map", "Property", FormMethod.Post, new { @encType = "multipart/form-data" }))
                {
                    <p>

                        @Html.DropDownList("typ", new List<SelectListItem>
    {
    new SelectListItem(){Text="Select Type...",Value=""},
    new SelectListItem(){Text="Rent",Value="RENT"},
    new SelectListItem(){Text="Sale",Value="SALE"},

    }, new { @class = "input-landing", @style = "width:230px" })



                        <button type="submit" class="btn btn-default input-landing"><i class="glyphicon glyphicon-search"></i></button>

                    </p>
                }
                
                <!--
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                     -->
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       

     
    </div>

    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>

